* {
    font-family: 'Roboto',
        sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDF7F6;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.task-container {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;

    h4 {
        text-align: center;
    }

    .task-body {
        padding: 5px;
    }

    .task-time-created {
        padding: 5px;
        text-align: end;
        color: lightgray;
    }
}