* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  color: #0E0621;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 10% 10%;
      grid-template-columns: 70% 10% 10% 10%;
  width: 300px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
}

header img {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 25px;
}

.list-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.list-table .list-wrapper {
  width: 300px;
  padding: 10px;
}

.list-table .list-wrapper .list-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90% 5%;
      grid-template-columns: 10% 90% 5%;
}

.list-table .list-wrapper .list-header .checkbox {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list-table .list-wrapper .list-header .listsCompleted {
  display: none;
}

.list-table .list-wrapper .list-header .listsTitle {
  font-size: 18px;
}

.list-table .list-wrapper .list-header .collapse-link {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
  font-size: 18px;
}

.list-table .list-wrapper .list-body {
  height: 0px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  margin-top: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% 45% 5%;
      grid-template-columns: 10% 40% 45% 5%;
}

.list-table .list-wrapper .list-body .listsBody {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
  font-size: 14px;
  margin: 5px 0 10px 0;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 10px 10px 15px 10px;
}

.list-table .list-wrapper .list-body .due-date {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  cursor: default;
}

.list-table .list-wrapper .list-body .due-date .listsDueDate {
  cursor: text;
}

.list-table .list-wrapper .list-body .date-created {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 12px;
  cursor: default;
}

#form-height {
  max-height: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

#add-task-form {
  width: 300px;
  max-height: 330px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 15px;
}

#input-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  height: 40px;
  width: inherit;
  background-color: #F8F8F8;
  text-indent: 15px;
  border-radius: 10px;
}

#input-body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  height: 40px;
  width: inherit;
  background-color: #F8F8F8;
  text-indent: 15px;
  border-radius: 10px;
}

#input-due-date {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  margin-bottom: 15px;
  height: 40px;
  width: 90px;
  font-size: 12px;
  background-color: #F8F8F8;
  text-align: center;
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
  border-radius: 10px;
}

#input-submit-button {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  background-color: #9FB0E9;
}

.calendar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 7 / 2;
  width: 190px;
  background-color: #F8F8F8;
  border-radius: 20px;
  padding-bottom: 10px;
}

.month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.month i {
  margin-top: 15px;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.month h1 {
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 1px;
}

.weekdays {
  margin-top: 10px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weekdays div {
  font-size: 10px;
  font-weight: bold;
  width: calc(180px / 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.days {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.days div {
  height: 25px;
  color: #000;
  font-size: 10px;
  width: calc(180px / 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 40px;
}

.days div:hover {
  cursor: pointer;
  background-color: #9FB0E9;
  border-radius: 50px;
}

.prev-date,
.next-date {
  opacity: 0.2;
}

.today {
  background-color: #CBCBCB;
  border-radius: 50px;
}

#body-color {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #0E0621;
  cursor: pointer;
}
/*# sourceMappingURL=homepage.css.map */