* {
    // font-family: 'Roboto',
    //     sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDF7F6;
}

.list-table {
    background-color: white;
    border-spacing: 0 20px;
    width: 80%;
    display: block;

    tr {
        display: flex;
        flex-direction: column;
        margin: 10px;


        td {
            padding: 10px;
        }

        .td-body {
            display: block;
            max-width: 300px;
            height: auto;
            background-color: honeydew;
        }
    }
}